html, body {
  height: 100%;
  margin-bottom: 10;
  padding: 0;
}
#map {
  margin-top: -20px;
  height: 94%;
}
#searchBox {
  height: 100%;
  width: 100%;
  position: absolute;
}

.search-nav{
  margin-top: 4%;
  width: 100%;
}

.red{
  background-color: rgb(178, 34, 34);
  border-radius: 0px;
}

.navbar-nav > li > a {
  color: white;
}

.navbar-brand{
  color: white;
}



.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: rgba(60, 18, 18, 0.68);
    background-image: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
}


.icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    color: white;
    background-color: white;
}
